force-app/main/default/flows/SecretKeySetup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetupSecretKeyAction</name>
        <label>Setup Secret Key Action</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <actionName>SetupSecretKeyAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetupCompleteScreen</targetReference>
        </connector>
        <inputParameters>
            <name>keys</name>
            <value>
                <elementReference>SecretKey</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>DoEnterSecretKeyManuallyDecision</name>
        <label>Do enter Secret Key manually?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SetupSecretKeyAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generate by System</defaultConnectorLabel>
        <rules>
            <name>EnterManually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoEnterSecretKeyManually</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManualInputScreen</targetReference>
            </connector>
            <label>Do enter Secret Key manually?</label>
        </rules>
    </decisions>
    <interviewLabel>Secret Key Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Secret Key Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Define how to provide Secret Key to encrypt data with: either enter manually or generate by system</description>
        <name>InitiationScreen</name>
        <label>Initiation</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DoEnterSecretKeyManuallyDecision</targetReference>
        </connector>
        <fields>
            <name>InitiationCmp</name>
            <extensionName>c:sksInitiation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DoEnterSecretKeyManually</assignToReference>
                <name>doEnterSecretKeyManually</name>
            </outputParameters>
        </fields>
        <helpText>&lt;p&gt;Define how to provide &lt;b&gt;Secret Key&lt;/b&gt; to encrypt data with: either enter manually or generate by system&lt;/p&gt;</helpText>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ManualInputScreen</name>
        <label>Manual Input</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetupSecretKeyAction</targetReference>
        </connector>
        <fields>
            <name>ManualInputCmp</name>
            <extensionName>c:sksManualInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SetupCompleteScreen</name>
        <label>Setup Complete</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SecretKeySetupCompleteOutput</name>
            <fieldText>&lt;p&gt;Congratulations! The &lt;b&gt;Secret Key &lt;/b&gt;has been successfully created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitiationScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DoEnterSecretKeyManually</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Secret Key created by context user</description>
        <name>SecretKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
